@import "core/../../theme";

mat-toolbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 0 0 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);

  button {
    min-width: 0;
    margin-right: 10px;
  }
  #logo {
    width: 100%;
    padding-right: 10px;
  }
}

mat-sidenav-container {
  height: 100%;
  .mat-list-item.active {
    color: mat-color($primary, A100)
  }
}

app-search-result {
  width: 100%;
  z-index: 10;
  position: absolute;
}


