<mat-card>
  <mat-card-title>Ticker</mat-card-title>
  <mat-card-content>
    <form class="ticker-form">
      <mat-form-field>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="tickerControl"
               [matAutocomplete]="ticker">
        <mat-autocomplete autoActiveFirstOption #ticker="matAutocomplete">
          <mat-option *ngFor="let tickerOption of filteredTickerOptions | async" [value]="tickerOption">
            {{tickerOption}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Strategy</mat-card-title>
  <mat-card-content>
    <form class="strategy-form">
      <mat-form-field>
        <input type="text" placeholder="Pick one" aria-label="Strategy" matInput [formControl]="strategyControl"
               [matAutocomplete]="strategy">
        <mat-autocomplete autoActiveFirstOption #strategy="matAutocomplete">
          <mat-option *ngFor="let strategyOption of filteredStrategyOptions | async" [value]="strategyOption">
            {{strategyOption}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Stop Profit & Loss Threshold</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Threshold</mat-label>
      <input matInput placeholder="3%">
    </mat-form-field>
  </mat-card-content>
  <mat-button-toggle-group>
    <mat-button-toggle (change)="start()" style="color:green">Start</mat-button-toggle>
    <mat-button-toggle (change)="start()" style="color:red">Stop</mat-button-toggle>
  </mat-button-toggle-group>
  <!--<button mat-raised-button="" mat-button="" color="accent" (click)="start()">-->
  <!--Start-->
  <!--</button>-->
  <!--<br/>-->
  <!--<button mat-raised-button="" mat-button="" color="accent" (click)="start()">-->
  <!--Stop-->
  <!--</button>-->
</mat-card>

<mat-card>
  <mat-card-title>Period</mat-card-title>
  <mat-card-content>

    <mat-form-field hintLabel="Long Period">
      <input matInput placeholder="26">
    </mat-form-field>
    <br/>

    <mat-form-field hintLabel="Short Period">
      <input matInput placeholder="12">
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>P&L</mat-card-title>
  <mat-card-content>
    <button mat-button="" (click)="getPL()" color="accent">Refresh</button>
    {{pl}}
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>Transactions</mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Transaction data
          </mat-panel-title>
          <mat-panel-description>
            History length
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="10">
        </mat-form-field>

        <br/>
        <mat-list>
          <mat-list-item *ngFor="let transaction of transactions">{{transaction}}</mat-list-item>
        </mat-list>
        <!--{{transactions}}-->
      </mat-expansion-panel>
      <!--<mat-expansion-panel (opened)="panelOpenState = true"-->
      <!--(closed)="panelOpenState = false">-->
      <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
      <!--Self aware panel-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
      <!--Currently-->
      <!--</mat-panel-description>-->
      <!--</mat-expansion-panel-header>-->
      <!--<p>I'm visible because I am open</p>-->
      <!--</mat-expansion-panel>-->
    </mat-accordion>
  </mat-card-content>
</mat-card>
